{
    "env": {
        "node": true
    },
    "parserOptions": {
        "project": "./tsconfig.json",
        "sourceType": "module"
    },
    "ignorePatterns": ["dist/test/*", "typedoc.js"],
    "plugins": ["@typescript-eslint/eslint-plugin"],
    "extends": ["plugin:@typescript-eslint/recommended", "prettier"],
    "root": true,
    "rules": {
        
    }
}
